/* Essa é a stylesheet das páginas. A maioria das escolhas estéticas você provávelmente consegue fazer aqui. */
:root {
    /* definição do esquema de cores da página */
    --main-bg: #ffffff;
    --detail-bg: #BACAFE;
    --text:#000000;
    --details:#967500;
    --links:#00115f;
    --link-hover:#0027d3;
    --link-bg:#BACAFE;
}

a {
    text-decoration: none;
    color: var(--links);
}

a:hover, ::selection {
    text-decoration: none;
    color: var(--link-hover);
    background-color: var(--link-bg);
}

h1 {
    text-align: center;
    margin: 2ch;
}

h2 {
    color: var(--details);
}

header {
    width: 100%;
    background-color: var(--detail-bg);
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 1ch;
}

body {
    margin: auto;
    max-width: 70ch;
    padding: 2ch;
    margin-top: 2ch;
    border: 2px solid var(--text);
    display: block;
    background: var(--main-bg);
    color: var(--text);
}